<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div id="app">
    <!-- 1.修饰符lazy -->
    <!-- 回车或者失去焦点后完成双向绑定 -->
    <input type="text" v-model.lazy="message">
    <h2>{{message}}</h2>

    <!-- 2.修饰符number -->
    <!-- 防止数字类型被转换成字符串类型绑定到变量中 -->
    <input type="number" v-model.number="age">
    <h2>{{age}}--{{typeof age}}</h2>

    <!-- 3.修饰符trim -->
    <input type="text" v-model.trim="name">
    <h2>您输入的名字：{{name}}</h2>
</div>

<body>
    <script src="../../assets/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: '你好啊',
                age: '',
                name: ''
            }
        })
    </script>
</body>

</html>