<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div id="app">
    <cpn ref="ac"></cpn>
    <button @click="btnClick">按钮</button>
</div>

<template id="cpn">
    <div>我是子组件</div>
</template>

<body>
    <script src="../../assets/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: '你好啊'
            },
            components: {
                cpn: {
                    template: '#cpn',
                    data() {
                        return {
                            name: '我是子组件'
                        }
                    },
                    methods: {
                        showMessage() {
                            console.log('showMessage')
                        }
                    }
                }
            },
            methods: {
                btnClick() {
                    // 1.$children
                    console.log(this.$children);
                    console.log(this.$children[0].name);
                    this.$children[0].showMessage();
                    // 2.$refs => 对象类型，默认是一个空的对象 ref = 'bbb'
                    console.log(this.$refs.ac.name);
                }
            }
        })
    </script>
</body>

</html>